version: "3.9"

services:
  api:
    build: .
    container_name: codi-api
    restart: unless-stopped
    environment:
      NODE_ENV: production
      DATABASE_URL: postgres://postgres:postgres@db:5432/codi
    ports:
      - "5432:5432"
    depends_on:
      - db
    command: >
      sh -c "
        npx prisma migrate deploy &&
        node dist/server.js
      "

  db:
    image: postgres:18
    container_name: codi-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: codi
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pgdata:
